# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Pycharm project settings
.idea/

# Information
wake_cmd.bat
sleep_cmd.bat
*.ini

# Artifacts
*.exe
